{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %} 
  {% if category %}
      {{ category.name }} 
    {% else %}
          Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
  {% if category %}
      <h2 style="font-family: 'Ubuntu'">{{ category.name }}</h2>
    {% else %}
          <h2>Unknown Category</h2>
    {% endif %}

    {% if places %}
    {% for place in places %}
    <a style="text-decoration: none;" href="{% url 'show_place' category.slug place.slug %}">
	<div style="text-align: left; background: white; border-radius: 10px; padding: 5px; color: black; margin-bottom: 10px; margin-top: 30px;" class="container">
      <div class="row">
            <div class="col">
                 <img src="{{MEDIA_URL}}{{place.name}}/img1.jpg" alt="..." class="img-thumbnail">
            </div>
            <div class="col-8">
                 <h2 style="color: black">{{ place.name }}</h2>
                 <p>{{ place.description }}</p>
            </div>
      </div>    
	  </div>
  </a>
    {% endfor %}
    {% endif %}


{% endblock  %}
