{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %} 
	Homepage
{% endblock %}

{% block body_block %}
	<div class="container justify-content-center homecontent">
		Glasgow4Freshers Home

<br />
<br />

  <div class="row">
    <div class="col-sm">
      <b>About Us</b>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet tristique ante. Duis tellus libero, commodo quis ullamcorper vitae, maximus a leo. Aenean congue gravida metus, et finibus est eleifend porta. Nulla ac mi fermentum, volutpat nisi eu, semper ipsum. Praesent iaculis commodo metus ac semper. Mauris ut tortor eu est ultrices consectetur ullamcorper non urna. Donec quis nibh vel dui finibus mattis. Vivamus et mollis massa.  </p>
    </div>
    <div class="col-sm">
      <b>How To Use</b>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet tristique ante. Duis tellus libero, commodo quis ullamcorper vitae, maximus a leo. Aenean congue gravida metus, et finibus est eleifend porta. Nulla ac mi fermentum, volutpat nisi eu, semper ipsum. Praesent iaculis commodo metus ac semper. Mauris ut tortor eu est ultrices consectetur ullamcorper non urna. Donec quis nibh vel dui finibus mattis. Vivamus et mollis massa. </p>
    </div>
    <div class="col-sm">
      <b>Credits</b>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet tristique ante. Duis tellus libero, commodo quis ullamcorper vitae, maximus a leo. Aenean congue gravida metus, et finibus est eleifend porta. Nulla ac mi fermentum, volutpat nisi eu, semper ipsum. Praesent iaculis commodo metus ac semper. Mauris ut tortor eu est ultrices consectetur ullamcorper non urna. Donec quis nibh vel dui finibus mattis. Vivamus et mollis massa. </p>
  </div>

	</div>
</div>

	
{% endblock  %}
