{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %} 
	Homepage
{% endblock %}

{% block body_block %}
	<div style="margin-bottom: 50px; margin-top: 50px; font-size: 2em; font-family: 'Ubuntu'"; class="d-inline-flex p-2">Please Choose A Category:</div>
<section class="features">
      <div style="margin-: 10px;" class="container">
        <div class="row">
        <a href="#">
          <div class="col">
              <i style="font-size: 2rem;" class="bi-binoculars"></i>
              <p>Entertainment</p>
          </div>
          </a>
            
            <a href="#">
          <div class="col">
            <i style="font-size: 2rem;" class="bi-clock-history"></i>
      <p>Historical</p>
          </div>          </a>

            <a  href="#">
          <div class="col">
             <i style="font-size: 2rem;" class="bi-tree"></i>
             <p>Parks</p>
          </div>
          </a>

            <a href="#">
          <div class="col">
              <i style="font-size: 2rem;" class="bi-book"></i>
              <p>Educational</p>
          </div>
           </a>

        </div>
    </div>
</section>
<br />
<br />
<br />

	
{% endblock  %}
