{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div style="text-align: center; background: white; border-radius: 10px; padding: 5px; color: black; margin-bottom: 10px; margin-top: 30px;" class="container">
	<hr />
	<h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
	<hr />


<div class="container">
<div class="row">
<img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
width="150"
height="150"
alt="{{ selected_user.username }}'s profile image" />
<br />
<div>
{% if selected_user == user %}
<form method="post" action="." enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<button style="margin-left: 100%; width: 49.5%;" class="btn btn-primary">Update</button>
</form>
{% endif %}
</div>
</div>
</div>
{% if reviews %}
      {% for review in reviews %}
      <hr />
      <div class="review p-5">
                    <div class="row d-flex">
                        <div class="profile-pic">
                        <img style="border-radius: 50%"  src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="80px" height="80px">
                      </div>
                        <div style="text-align: left;" class="d-flex flex-column pl-3">
                            <h4>{{review.name}}</h4>
                            <p>{{review.review_date}}</p>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <p>{{ review.review_text }}</p>
                    </div>
                      <div class="row pb-3">
                        <p><b>Rating: {{ review.rating }} (<span class="star-system">{{ review.rating }}</span>)
                    </div>
                    <div class="row pb-3">
                      <button style=" background-color:rgba(38,166,154 ,0.3); width: 49.5%;"class="like">
                          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                          <p>{{ review.likes }}</p>
                        </button>
                      <button style="margin-left: 1%; width: 49.5%; background-color: rgba(255,138,128 ,0.3);" class="dislike">
                          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                          <p>{{ review.dislikes }}</p>
                        </button>
                    </div>

                    <!-- Logged in users only that own the review or ADMIN user logged in !-->
                     <div class="row pb-3">
                      <button style=" width: 49.5%;"class="btn-success">
                        Edit
                        </button>
                      <button style="margin-left: 1%; width: 49.5%;" class="btn-danger">
                         Remove
                        </button>
                    </div>
                  </div>
      {% endfor %}
      {% else %}
      <p>This user has not made any reviews</p>
      {% endif %}
      <hr />
</div>
{% endblock %}
