{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}
<div style="text-align: center; background: white; border-radius: 10px; padding: 5px; color: black; margin-bottom: 10px; margin-top: 30px;" class="container">
	<hr />
	<h1 class="jumbotron-heading">Register for Glasgow4Freshers</h1>
	<hr />
{% if registered %}
<strong>Thank you for registering!</strong>
<a href="{% url 'index' %}">Return to the homepage.</a><br />
{% else %}
<br />
<form id="user_form" method="post" action="{% url 'register' %}"
enctype="multipart/form-data">

{% csrf_token %}

<!-- Display each form -->
{{ user_form.as_p }}
{{ profile_form.as_p }}

<!-- Provide a button to click to submit the form. -->
<button class = "btn btn-primary">Register</button>
</form>
{% endif %}
</div>
{% endblock %}